body {
    background-color: #282828;
    color: #fbf1c7;
}


h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

h6 {
   color: #fabd2f;

}

hr {
    color: #cccccc;
    width: 50%;
}

h2 {
    color: #689d6a;
}

#homeBtn {
    color: #d3869b;
    margin: 10%;
   font-size: 30px; 
}

#homeBtn:hover {
    color: #1e5f74;
    
}

a {
    color: #83a598;
}

a:hover {
    color: #458588;
    
}

.btn:hover {
    color: #282828;
    border: 3px dashed #d3869b;
    background-color: #d3869b;
    
}

.btn {
    width: 110px;
    border: 3px dashed #d3869b;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
    margin: 0.5em;

}

#demo {
    color: #fb4934;
}

h5 {
    color: #fe8019;
}

#totalTime {
    color: #8ec07c;
}