body {
    background-color: #222831;
    color: white;
}


h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

h6 {
   color: #cccccc;

}

hr {
    color: #cccccc;
    width: 50%;
}

h2 {
    color: #944e6c;
}

#homeBtn {
    color: #fcdab7;
    margin: 10%;
   font-size: 30px; 
}

#homeBtn:hover {
    color: #1e5f74;
    
}

a:hover {
    color: #1e5f74;
    
}

.btn:hover {
    color: #333333;
    border: 3px dashed #e9c496;
    background-color: #e9c496;
    
}

.btn {
    width: 110px;
    border: 3px dashed #e9c496;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
    margin: 0.5em;

}

#demo {
    color: #fa9579;
}

h5 {
    color: #ffe9d6;
}

#totalTime {
    color: #5400d6;
}