body {
    background-color: #333333;
    color: white;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

h6 {
   color: #cccccc;

}

hr {
    color: #FF851B;
    width: 50%;
}



#homeBtn {
    color: white;
    margin: 10%;
   font-size: 30px; 
}

#homeBtn:hover {
    color: #FF851B;
    
}

a:hover {
    color: #FF851B;
    
}

.btn:hover {
    color: #333333;
    border: 3px dashed #FF851B;
    background-color: #FF851B;
    
}

.btn {
    width: 110px;
    border: 3px dashed #FF851B;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
    margin: 0.5em;

}


#arrayZeroPer {
    color: #FF4136;

}

#arrayZero {
    color: #85144b;

}

#arrayOnePer {
    color: #2ECC40;
}

#arrayOne {
    color: #3D9970;

}

#arrayTwoPer {
    color: #0074D9;
}

#arrayTwo {
    color: #39CCCC;
}